<style>
  .product-image {
      width: 100%;
      height: auto;
  }
</style>
<body>
    <!-- Nội dung của phần footer -->
    <div class="mybody my-3">
      <div class="container">
        <div class="slider">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
<!-- lấy trong data base-->
                <img src="//bizweb.dktcdn.net/100/329/122/files/sieu-toc-1170-x-350-80-kb-108ef56b-6e04-41a2-9509-46c6635b75d3.jpg?v=1710925648590" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
<!-- lấy trong data base-->
                <img src="//bizweb.dktcdn.net/100/329/122/files/sieu-toc-1170-x-350-80-kb-108ef56b-6e04-41a2-9509-46c6635b75d3.jpg?v=1710925648590" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
<!-- lấy trong data base-->
                <img src="//bizweb.dktcdn.net/100/329/122/files/sieu-toc-1170-x-350-80-kb-108ef56b-6e04-41a2-9509-46c6635b75d3.jpg?v=1710925648590" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--  end slider -->
        <div class="slider">

        </div>
        <!--  end slider -->
      </div>
    </div>

    <div class="product-list mb-3">
      <div class="product_title border-bottom">
        <strong class="bg-danger text-white">Laptop</strong>
      </div>
{% comment %} ----------------------------------------------------------------------------------------- {% endcomment %}
      <div class="container">
        <div class="row">
            {% for item in posts %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{ item.image.url }}" class="card-img-top product-image" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-id">{{ item.id }}</h5>
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content }}</p>
                        <a href="http://127.0.0.1:8000/home/product_detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                        <button class="btn btn-outline-secondary add-btn">Thêm Vào Giỏ Hàng</button>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% comment %} ----------------------------------------------------------------------------------------- {% endcomment %}

    </div>
    {% comment %} <h1>thêm sản phẩm</h1>
    {% for i in posts %}
      <h2>{{i.title}}</h2>
      <p>{{i.description}}</p>
      <p><img src="{{i.image.url}}" alt="" width="20%"></p>
    {% endfor %} {% endcomment %}
    
   
</body>
</body>
</html>