

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home">trang chủ</a>
    day la trang dang ki trong dangki.html
    {% block content  %}
        <form action="{% url 'register:register' %}" method="post">
            {% csrf_token %} 
            {{rf.as_p}}
            <input type="submit"  >
        </form>
       
    {% endblock  %}
</body>
</html> 
